input.input-box {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

input.input-box:focus {
  transition: all 0.5s ease-in forwards;
  border: #077bf0 solid 3px;
}
